page-home {
    .container {
        display: flex;
        justify-content: space-around;
        background: #182838;
        height: 35vh;
    }
    .child1 {
        flex: 1;
        display: grid;
        align-items: center;
        background-color:red;
    }
    .child2 {
        flex: 1;
        display: grid;
        align-items: center;
    }

    .dot {
        flex: 1;
        height: 20vh;
        width: 20vh;
        background-color: transparent;
        border-radius: 50%;
        display: inline-block;
        border: 5px solid #7bffd5;
        margin: 0 auto;
      }
      .threeDots {
        height: 10px;
        width: 10px;
        background: #6f8195;
        border-radius: 50%;
        display: inline-block;
        margin-top: 300%;
        margin-bottom: 30%;
      }
}
